.compare {
  &__products {
    display: grid;
    gap: 40px;

    @include on-tablet {
      justify-items: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      gap: 24px;
    }
  }
}
