.header {
  box-sizing: border-box;
  height: 100vh;
  background-color: #121212;
  background-image: url('/src/images/Cover_photo.png');
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;

  @include on-desktop {
    background-position: center 35%;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include content-padding-inline;

    @include on-tablet {
      padding-bottom: 130px;
    }
  }
}
