.product {
  max-width: 392px;

  &__image-link {
    display: block;
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 8px;
  }

  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.06);
    }
  }

  &__title {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
  }

  &__description {
    margin: 0 0 16px;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    margin: 0;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
  }
}
