.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
  }

  &__phone-number {
    position: absolute;
    right: 100%;
    margin-right: 24px;
    opacity: 0;
    visibility: hidden;

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;

    transition: opacity 0.3s;

    display: none;

    @include on-desktop {
      display: block;
      position: absolute;
      right: 100%;
    }
  }

  .icon--phone:hover + .top-bar__phone-number {
    opacity: 1;
    visibility: visible;
  }

  &__logo {
    display: flex;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.08);
    }
  }

  &__logo-image {
    display: block;
    width: 130px;
    height: 38px;

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }
}
