@mixin on-tablet() {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: max(294px, calc((100% - 1260px) / 2));
  }
}
